backend/.env
frontend/node_modules/
project.db
backend/data/videos/spongebob*
backend/data/videos/*
overview.md
domains.txt
analysis_server/*.db
*.db
trash/
backend/data/tmp/

mobile_app/language-learning/android
